
1) Create a list of empids and names (10 employees).
   ii) Convert list into Series.
   iii) Print type of Series.
   iv) Convert Series into DataFrame.
   v) a) Display all records.
      b) Display first five records.
      c) Display last five records.
      d) Display first two and last two records.
      e) Display name of 5th employee.
      f) Display record of 4th employee.
   vi) Save the record in csv file (MyRecord.csv)

In [1]:
import pandas as pd
import numpy as np


emp_ids = [101, 102, 103, 104, 105, 106, 107, 108, 109, 110]
names = ["Alice", "Bob", "Charlie", "David", "Eve", "Frank", "Grace", "Hannah", "Ivy", "Jack"]

data = {'EmpID': emp_ids, 'Name': names}


emp_series = pd.Series(data)


print("Type of Series:", type(emp_series))

emp_df = pd.DataFrame(data)

print("\nAll Records:")
print(emp_df)


print("\nFirst Five Records:")
print(emp_df.head())

print("\nLast Five Records:")
print(emp_df.tail())

print("\nFirst Two and Last Two Records:")
print(pd.concat([emp_df.head(2), emp_df.tail(2)]))

fifth_employee_name = emp_df.loc[4, 'Name']  # Indexing starts from 0
print("\nName of 5th Employee:", fifth_employee_name)

fourth_employee_record = emp_df.iloc[3]  
print("\nRecord of 4th Employee:")
print(fourth_employee_record)

emp_df.to_csv('MyRecord.csv', index=False)
print("\nRecords saved to MyRecord.csv")

Type of Series: <class 'pandas.core.series.Series'>

All Records:
   EmpID     Name
0    101    Alice
1    102      Bob
2    103  Charlie
3    104    David
4    105      Eve
5    106    Frank
6    107    Grace
7    108   Hannah
8    109      Ivy
9    110     Jack

First Five Records:
   EmpID     Name
0    101    Alice
1    102      Bob
2    103  Charlie
3    104    David
4    105      Eve

Last Five Records:
   EmpID    Name
5    106   Frank
6    107   Grace
7    108  Hannah
8    109     Ivy
9    110    Jack

First Two and Last Two Records:
   EmpID   Name
0    101  Alice
1    102    Bob
8    109    Ivy
9    110   Jack

Name of 5th Employee: Eve

Record of 4th Employee:
EmpID      104
Name     David
Name: 3, dtype: object

Records saved to MyRecord.csv